### External Python libraries to install in venv

# dev stuff
ipykernel
black
black[jupyter]
autoflake   # autoflake --in-place --remove-unused-variables --remove-all-unused-imports -r .

# blockchain stuff
eth-brownie
ethpm-cli
web3

# server stuff
flask
flask_cors
gunicorn
python-dotenv==0.16.0

# # db
# sqlalchemy
# psycopg2


# Twitter & Scraping
snscrape
cloudscraper
scrapingbee

# data stuff
pandas

# brownie stuff
# brownie pm install Openzeppelin/openzeppelin-contracts@4.7.3
# brownie pm install smartcontractkit/chainlink@1.7.1
# brownie pm install smartcontractkit/chainlink-brownie-contracts@0.4.2
