@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .box-shadow-black {
    box-shadow: 0.125rem 0.125rem 0 0px #000;
  }
}

/* debug */
/* div {outline: 1px solid red;} */

/* cursor */

* {
  cursor: url('../media/cursor.cur'), crosshair;
}



@keyframes move {
  0% {
    transform: scale(1) translate(10px, -30px);
  }

  38% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  40% {
    transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg);
  }

  78% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  80% {
    transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
  }

  100% {
    transform: scale(1) translate(10px, -30px);
  }
}


/* color changer */

.mouse-bg-color {
  background: hsl(var(--h), 80%, 33%);
  z-index: -10;
}



.black-stroke-1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.color-reverse {
  color: hsl(var(--d), 100%, 50%);
}

.bg-color-reverse {
  background: hsl(var(--d), 100%, 50%);
}





.dotted-bg {
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.brutalborder {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  box-shadow: 0.125rem 0.125rem 0 0px #000;
  box-sizing: border-box;
}


/* windows */
.window {
  background-color: white;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  box-shadow: 0.125rem 0.125rem 0 0px #000;
}

.titlebar {
  font-size: small;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid black;
}

.buttons {
  padding-right: 8px;
  padding-top: 3px;
  float: right;
  line-height: 0px;
}

.close {
  width: 11px;
  height: 11px;
  border: 1px solid black;
  display: inline-block;
}

.crossclose {
  position: relative;
  height: 11px;
  width: 11px;
  /* maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crossclose::before,
.crossclose::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  /* cross thickness */
  background-color: black;
}

.crossclose::before {
  transform: rotate(45deg);
}

.crossclose::after {
  transform: rotate(-45deg);
}




/* image rotation */
.rotate {
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 32s linear infinite;
  -moz-animation: spin 32s linear infinite;
  animation: spin 32s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



$base-duration: 300ms;



// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}


/* glitch gigachad hero */

.glitch {
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
  z-index: 30;
}

.glitch span {
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }

  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }

  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }

  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}





.text-flicker {
  $font: "Roboto", monospace;
	color: #203e86;

	$steps: 50;
	.experiment-title {
		outline: none;
		font-size: 10vw;
		text-align: center;
		font-family: $font;
		min-height: 10vw;
		max-width: 80vw;
		min-width: 10vw;
		
		&,
		* {
			animation: cray 6s infinite steps($steps);
			display: inline-block;
		}
	}

	@keyframes cray {
		@for $i from 1 to $steps {
			$per: 100% / $steps * $i;
			$weight: (
				100,
				200,
				300,
				400,
				500,
				600,
				700
			);
			$style: (
				normal,
				italic,
				normal,
				normal
			);
			$decor: (
				none,
				none,
				line-through,
				underline,
				none,
				none,
				none
			);
			$trans: (
				none,
				none,
				uppercase,
				lowercase,
				capitalize,
				none,
				none,
				none,
				none,
				none,
				none
			);

			$arrayW: random(7);
			$arrayS: random(4);
			$arrayD: random(7);
			$arrayT: random(11);

			#{$per} {
				font-weight: nth($weight, $arrayW);
				font-style: nth($style, $arrayS);
				text-decoration: nth($decor, $arrayD);
				text-transform: nth($trans, $arrayT);
			}
		}
	}
}




.slidescontainer {
  overflow: hidden;
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.slidescontainer div {
  min-width: 300px;
  margin-left: 20px;
  animation: slide 15s linear infinite alternate;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.aqua {
  background-color: aqua;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1600px, 0, 0); /* The image width */
  }
}
