

/* scanner */
.scanner {
  font-weight: 900;
 background-image: linear-gradient(
   -225deg,
   hsl(var(--h), 80%, 33%) 0%,
   hsl(var(--d), 80%, 33%) 50%,
   hsl(var(--h), 80%, 33%) 67%,
   hsl(var(--d), 80%, 33%) 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: inline-block;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}

  
/* shape transitions */
/* class="shape square to-blob" */
.shape {
  width: 100%; 
  height: 100%;
  background: #4285F4;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  transition: all .5s ease-out;
  z-index: -20;
}
.shape.square {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.shape.square.to-blob:hover {
    -webkit-clip-path: polygon(25% 0, 50% 0, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
}



  /* moving blob */
.blob {
    position: absolute;
    fill: hsl(var(--d), 100%, 33%);
    width: 120%;
    z-index: -20;
    animation: move 180s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  